{% include 'component/abstractDerailleur/form.html.twig' %}
<div class="grid-x">
    <div class="cell medium-5">
        {{ form_label(form.pullType) }}
    </div>
    <div class="cell medium-7">
        {{ form_widget(form.pullType) }}
    </div>
</div>