<div class="grid-x">
    <div class="cell medium-5">
        {{ form_label(form.isRearSuspension) }}
    </div>
    <div class="cell medium-7">
        {{ form_widget(form.isRearSuspension) }}
    </div>
</div>