{% extends 'base.html.twig' %}

{% block body %}
    <div class="grid-x">
        <input type="button" class="button" value="Home" onclick="location.href = '{{ path('home_page') }}';" />
    </div>
    <div class="grid-x">
        <h2>Add Components</h2>
    </div>
    <div class="grid-x">
        {{ form_start(form) }}
        <div class="cell">
            <div class="grid-x">
                {% include 'showFlash.html.twig' %}
            </div>
            <div class="grid-x">
                <div class="cell">
                    {{ form_row(form.componentType) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    {% include 'component/list.html.twig' %}
{% endblock %}