{% extends 'base.html.twig' %}

{% block body %}
    <div><input type="button" value="Home" onclick="location.href = '{{ path('home_page') }}';" /></div>
    <div>
        <h2>Add Components</h2>
    </div>
    <div>
        {% include 'showFlash.html.twig' %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    {% include 'component/list.html.twig' %}
{% endblock %}