{% extends 'base.html.twig' %}

{% block body %}
    <div><a href="{{ path('bicycle_select') }}">Build Bicycle</a></div>
    <div><a href="{{ path('component_select') }}">Add Components</a></div>
{% endblock %}