{% extends 'base.html.twig' %}

{% block body %}
    <div><h3><a href="{{ path('bicycle_select') }}">Build Bicycle</a></h3></div>
    <div><h3><a href="{{ path('component_select') }}">Add Components</a></h3></div>
{% endblock %}