{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/templates/css/main.css" />
{% endblock %}
{% block body %}
    <div><input type="button" value="Home" onclick="location.href = '{{ path('home_page') }}';" /></div>
    <div>
        <h2>Build Bicycle</h2>
    </div>
    <div>
        {% include 'showFlash.html.twig' %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    {% include 'bicycle/list.html.twig' %}
{% endblock %}